body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
    width: 100%;
}

.formSection {
  padding-top: 15px;
  padding-bottom: 15px;
}

label {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: normal;
}